<nav class="navbar navbar-default" style="background-color: darkcyan;">
    <div class="container-fluid">
        <div class="navbar-header">
            <img 
                src="https://freesvg.org/img/PopcornClip.png" 
                height="55"
                width="55"
                alt="Popcorn Image"
            >
            <a class="navbar-brand fw-bolder" style="font-size: x-large;">
                TV Series
            </a>
        </div>
    </div>
</nav>
<app-serie></app-serie>